{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->
        <div class="container my-5">
            <div class="row mb-3">
                {% for error in errors %}
                    <div class="alert-danger w-100 shadow-lg rounded text-center mb-3" role="alert">{{ error }}</div>
                {% endfor %}
                <form class="row mb-3" method="post"
                      action="/admin/dashboard">
                    <div class="col-lg-5 d-flex justify-content-center">

                        <p class="me-3"> Choisissez la période à analyser:</p>

                        <div class="form-group">
                            <input id="dateBegin" name="dateBegin" type="date" class="form-control"
                                   value="{{ dateBegin }}" required>
                        </div>

                    </div>
                    <div class="col-lg-5 d-flex justify-content-start ">
                        <p class="me-3"> Au:</p>

                        <div class="form-group">
                            <input id="dateEnd" name="dateEnd" type="date" class="form-control" value="{{ dateEnd }}"
                                   required>
                        </div>

                        <button type="submit"
                                class="btn btn ms-4 align-self-start bgsection1 text-white">Charger
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 chartTime">
                            <h3 class="text-center">Utilisateurs</h3>
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>

                        </div>
                        <div class="col-lg-6 chartTime">
                            <h3 class="text-center">Temps de jeux</h3>
                            <div>
                                <canvas id="myChart2"></canvas>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-6 shadow-lg-rounded bgsection">

                    <input type="hidden" id="allNullTimesUsers" value="{{allNullTimesUsers}}">
                    <input type="hidden" id="allTimesUsers" value="{{ allTimesUsers }}">

                    <h2 class="text-center my-3"> Statistiques globales</h2>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="d-flex flex-column align-items-center">
                                <h5 class="fw-bold">
                                    Nouveaux utilisateurs:
                                </h5>
                                {% if usersDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ usersDate }} </p>
                                {% endif %}


                                <h5 class="fw-bold">
                                    Nouveaux jeux:
                                </h5>
                                {% if gamesDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ gamesDate }} </p>
                                {% endif %}

                                <h5 class="fw-bold">
                                    Nouveaux temps de jeux:
                                </h5>
                                {% if timesDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ timesDate }} </p>
                                {% endif %}

                                <h5 class="fw-bold">
                                    Temps de jeux cumulés:
                                </h5>
                                {% set hrs = sumTimes.sumHrs %}
                                {% set mins = sumTimes.sumMins %}
                                {% set secs = sumTimes.sumScs %}

                                {% if timesDate  is null %}
                                    <p> 0h 0min 0sec </p>
                                {% else %}

                                    {% if mins > 59 and secs <= 59 %}

                                        <p>{{ hrs+1 }} h {{ mins-60 }} min {{ secs }} sec</p>

                                    {% elseif secs > 59 and mins < 59 %}

                                        <p>{{ hrs }} h {{ mins+1 }} min {{ secs-60 }} sec</p>

                                    {% elseif mins > 59 and secs > 59 %}

                                        <p>{{ hrs+1 }} h {{ mins-59 }} min {{ secs-60 }} sec</p>

                                    {% else %}

                                        <p>{{ hrs }} h {{ mins }} min {{ secs }} sec</p>

                                    {% endif %}
                                {% endif %}


                                <h5 class="fw-bold">
                                    Nouvelles reviews:
                                </h5>
                                {% if reviewsTime  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ reviewsTime }} </p>
                                {% endif %}

                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="d-flex flex-column align-items-center">
                                <h5 class="fw-bold">
                                    Total utilisateurs:
                                </h5>
                                <p> {{ nbUsers }} </p>

                                <h5 class="fw-bold">
                                    Total jeux:
                                </h5>
                                <p> {{ nbGames }} </p>

                                <h5 class="fw-bold">
                                    Total temps de jeux:
                                </h5>
                                <p> {{ nbTimes }} </p>

                                <h5 class="fw-bold">
                                    Temps total cumulés:
                                </h5>
                                <p> {{ totalTime.totalhours }}h {{ totalTime.totalminuts }}
                                    min {{ totalTime.totalseconds }}sec</p>

                                <h5 class="fw-bold">
                                    Total reviews:
                                </h5>
                                <p> {{ nbReviews }} </p>

                            </div>


                        </div>


                    </div>


                </div>
            </div>


        </div>


    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->

    {% include 'parts/JS_scripts.twig' %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {

            let allTimesUsers = document.getElementById('allTimesUsers').value;
            let allNullTimesUsers = document.getElementById('allNullTimesUsers').value;
            console.log(allTimesUsers, allNullTimesUsers)

            let dataPie1 = JSON.parse(allTimesUsers);
            let dataPie2 = JSON.parse(allNullTimesUsers);

            console.log(dataPie1);

            const labels = [
                'Utilisateurs avec temps de jeux',
                'Utilisateurs sans temps de jeux',

            ];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Données utilisateurs',
                    backgroundColor: [
                        '#6B3D5F',
                        '#935482',
                    ],
                    data: [dataPie1, dataPie2]
                }]
            };
console.log(data.datasets);
            const config = {
                type: 'doughnut',
                data: data,
            };

            // Gametime chart doughnut //

            const labelsTime = [
                'Histoire',
                'Histoire + Extras',
                'Complétioniste',

            ];

            const dataTime = {
                labels: labelsTime,
                datasets: [{
                    label: 'Données temps de jeux',
                    backgroundColor: [
                        '#6B3D5F',
                        '#935482',
                        '#c06faa'
                    ],
                    data: [70, 30, 25],
                }]
            };

            const configTime = {
                type: 'doughnut',
                data: dataTime,
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

            const myChart2 = new Chart(
                document.getElementById('myChart2'),
                configTime
            );
        });
    </script>

    <script>

    </script>

    <script>


    </script>
    </body>
    </html>
{% endblock %}