{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->
        <div class="container my-5">
            <div class="row mb-3">
                {% for error in errors %}
                    <div class="alert-danger w-100 shadow-lg rounded text-center mb-3" role="alert">{{ error }}</div>
                {% endfor %}
                <form class="row mb-3" method="post"
                      action="/admin/dashboard">
                    <div class="col-lg-5 d-flex justify-content-center">

                        <p class="me-3"> Choisissez la période à analyser:</p>

                        <div class="form-group">
                            <input id="dateBegin" name="dateBegin" type="date" class="form-control"
                                   value="{{ dateBegin }}" required>
                        </div>

                    </div>
                    <div class="col-lg-5 d-flex justify-content-start ">
                        <p class="me-3"> Au:</p>

                        <div class="form-group">

                            <input id="dateEnd" name="dateEnd" type="date" class="form-control" value="{{ dateEnd }}"
                                   required>
                        </div>

                        <button type="submit"
                                class="btn btn ms-4 align-self-start bgsection1 text-white">Charger
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 chartTime">
                            <h3 class="text-center">Utilisateurs</h3>
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>

                        </div>
                        <div class="col-lg-6 chartTime">
                            <h3 class="text-center">Temps de jeux</h3>
                            <div>
                                <canvas id="myChart2"></canvas>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-6 shadow-lg-rounded bgnav">

                    <input type="hidden" id="allNullTimesUsers" value="{{ allNullTimesUsers }}">
                    <input type="hidden" id="allTimesUsers" value="{{ allTimesUsers }}">
                    <input type="hidden" id="histCateg" value="{{ histCateg }}">
                    <input type="hidden" id="compCateg" value="{{ compCateg }}">
                    <input type="hidden" id="extraCateg" value="{{ extraCateg }}">
                    {% if histDates is null %}
                        <input type="hidden" id="histDates" value="0">
                        <input type="hidden" id="compDates" value="0">
                        <input type="hidden" id="extraDates" value="0">
                     {% else %}
                         <input type="hidden" id="histDates" value="{{ histDates }}">
                         <input type="hidden" id="compDates" value="{{ compDates }}">
                         <input type="hidden" id="extraDates" value="{{ extraDates }}">
                    {% endif %}


                    <h2 class="text-center my-3"> Statistiques globales</h2>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="d-flex flex-column align-items-center">
                                <h5 class="fw-bold">
                                    Nouveaux utilisateurs:
                                </h5>
                                {% if usersDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ usersDate }} </p>
                                {% endif %}


                                <h5 class="fw-bold">
                                    Nouveaux jeux:
                                </h5>
                                {% if gamesDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ gamesDate }} </p>
                                {% endif %}

                                <h5 class="fw-bold">
                                    Nouveaux temps de jeux:
                                </h5>
                                {% if timesDate  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ timesDate }} </p>
                                {% endif %}

                                <h5 class="fw-bold">
                                    Temps de jeux cumulés:
                                </h5>


                                {% if timesDate  is null %}
                                    <p> 0j 0h 0min 0sec </p>
                                {% else %}

                                    <p> {{sumDays}}j {{sumHrs}}h {{sumMins}}min {{sumScs}}sec </p>

                                {% endif %}


                                <h5 class="fw-bold">
                                    Nouvelles reviews:
                                </h5>
                                {% if reviewsTime  is null %}
                                    <p> 0 </p>
                                {% else %}
                                    <p> {{ reviewsTime }} </p>
                                {% endif %}

                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="d-flex flex-column align-items-center">
                                <h5 class="fw-bold">
                                    Total utilisateurs:
                                </h5>
                                <p> {{ nbUsers }} </p>

                                <h5 class="fw-bold">
                                    Total jeux:
                                </h5>
                                <p> {{ nbGames }} </p>

                                <h5 class="fw-bold">
                                    Total temps de jeux:
                                </h5>
                                <p> {{ nbTimes }} </p>

                                <h5 class="fw-bold">
                                    Temps total cumulés:
                                </h5>
                                <p> {{ totalTime.totalhours }}h {{ totalTime.totalminuts }}
                                    min {{ totalTime.totalseconds }}sec</p>

                                <h5 class="fw-bold">
                                    Total reviews:
                                </h5>
                                <p> {{ nbReviews }} </p>

                            </div>


                        </div>


                    </div>


                </div>
            </div>


        </div>


    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->

    {% include 'parts/JS_scripts.twig' %}

    {% include 'parts/dougnuts.twig'%}
    </body>
    </html>
{% endblock %}