{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->

        <section>
            <div class="container my-5">
                <div class="d-flex justify-content-end">
                    <!-- Large modal -->
                    <button type="button" class="btn btn-lg btn-outline-success mb-4" data-bs-toggle="modal"
                            data-bs-target=".bd-example-modal-lg">Ajouter un jeu
                    </button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                {% for error in errors %}
                                    <div class="alert-danger w-100 shadow-lg rounded text-center mb-3" role="alert">{{error}}</div>
                                {% endfor %}
                                <form class="mx-auto" method="post"
                                      action="/admin/addGames">
                                    <div class="form-group my-3 mx-5 px-5">
                                        <label for="titleInput" class="mt-4 mb-3 text-dark mx-5 px-5"> Titre du
                                            jeu </label>
                                        <input
                                                type="text"
                                                class="form-control log mx-auto"
                                                id="titleInput"
                                                name="titleInput"
                                                placeholder="Elden Ring GOTY 2022"
                                                required
                                        />
                                    </div>
                                    <div class="form-group mt-3 mb-4 mx-5 px-5">
                                        <label for="resumeInput" class="my-3 text-dark mx-5 px-5">Résumé du
                                            jeu: </label>
                                        <textarea
                                                type="text"
                                                class="form-control log mx-auto "
                                                id="resumeInput"
                                                name="resumeInput"
                                                minlength="50"
                                                maxlength="512"
                                                required
                                                placeholder="Veuillez écrire un résumé entre 50 et 512 caractères."
                                        ></textarea>
                                    </div>

                                    <div class="form-group my-3 mx-5 px-5">
                                        <label for="release" class="mt-4 mb-3 text-dark mx-5 px-5"> Date de
                                            sortie: </label>
                                        <input
                                                type="date"
                                                class="form-control log mx-auto"
                                                id="release"
                                                name="release"

                                        />
                                    </div>

                                    <div class="form-group my-3 mx-5 px-5">
                                        <label for="studio" class="mt-4 mb-3 text-dark mx-5 px-5"> Studio de
                                            développement: </label>
                                        <input
                                                type="text"
                                                class="form-control log mx-auto"
                                                id="studio"
                                                name="studio"
                                                placeholder="Niwee Productions"
                                                required
                                        />
                                    </div>

                                    <div class="form-group my-3 mx-5 px-5">
                                        <label for="editor" class="mt-4 mb-3 text-dark mx-5 px-5"> Éditeur (si aucun mettre le studio): </label>
                                        <input
                                                type="text"
                                                class="form-control log mx-auto"
                                                id="editor"
                                                name="editor"
                                                placeholder="Ubisoft"
                                                required
                                        />
                                    </div>

                                    <div class="form-group mb-4 mx-5 px-5">

                                        <label for="genres" class="text-center text-dark ms-5">Genres:</label>
                                        <select name="genres" id="genres" class="mb-3 align-self-center">
                                            {% for genre in genres %}
                                                <option value="{{ genre.name }}">{{ genre.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group mb-4 mx-5 px-5">

                                        <label for="platforms" class="text-center text-dark ms-4">Plateforme:</label>
                                        <select name="platforms" id="platforms" class="mb-3 align-self-center">
                                            {% for platform in platforms %}
                                                <option value="{{ platform.console }}">{{ platform.console }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <button

                                            type="submit"
                                            class="btn btn-lg btn-success mx-auto mt-5 mb-2 px-5 d-flex justify-content-center text-white"
                                            style="margin-top:3.25rem !important"
                                    >
                                        Ajouter le jeu
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container gametable d-flex justify-content-center">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Titre</th>
                        <th scope="col" class="text-center">Résumé</th>
                        <th scope="col" class="text-center">Genre</th>
                        <th scope="col" class="text-center">Plateforme</th>
                        <th scope="col" class="text-center">Date de sortie</th>
                        <th scope="col" class="text-center">Studio</th>
                        <th scope="col" class="text-center">Editeur</th>
                        <th scope="col" class="text-center">Actions</th>

                    </tr>
                    </thead>
                    <tbody>


                    {% for game in games %}

                        <tr>
                            <td>{{ game.title }}</td>
                            <td style="max-width: 700px">{{ game.resume }}</td>
                            <td> {{ game.genres }}</td>
                            <td> {{ game.platforms }}</td>
                            <td class="px-5 mx-5"> {{ game.released ? game.released|format_datetime(locale='fr',pattern="dd MMMM YYYY") : "Non communiqué" }}</td>
                            <td> {{ game.studio }}</td>
                            <td> {{ game.editor }}</td>
                            <td>
                                <a href="/admin/deleteGames/{{ game.id }}" type="button"
                                   class="btn btn-lg btn-danger my-3 ">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </section>
    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->


    {% include 'parts/JS_scripts.twig' %}

    </body>
    </html>
{% endblock %}