{% block body %}
    <!doctype html>
    <html lang="fr">
    {% include 'parts/head.twig' %}

    <body>


    {% include 'parts/headeradmin.twig' %}


    <main>
        <!--INSERT CODE HERE -->

        <section>
            <div class="container my-5">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="text-center">Note</th>
                        <th scope="col" class="text-center">Review</th>
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col" class="text-center">Signalé?</th>
                        <th scope="col" class="text-center">Utilisateur</th>
                        <th scope="col" class="text-center">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for review in reviews %}
                        <tr>
                            <th scope="row">{{ review.id }}</th>
                            <td>{{ review.note }}</td>
                            <td>{{ review.comment }}</td>
                            <td>{{ review.date }}</td>
                            <td>{{ review.isSignaled }}</td>
                            <td>{{ review.gamer.pseudo }}</td>
                            <td>
                                <a href="/admin/deleteReviews/{{review.id}}" type="button" class="btn btn-lg btn-danger my-3 ">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    {% include 'parts/footer.twig' %}

    <!-- JS scripts -->

    {% include 'parts/JS_scripts.twig' %}

    <script>

    </script>

    </body>
    </html>
{% endblock %}